#SW4STM32
.settings/
.project
.cproject

#STM32CubeMX
.mxproject


#Winky
/Release/
/Debug/
/Documentation/
*.d
*.o




/APDS9960_Example/
/LedMatrix/
/i2cTest_Indus/
/IndusTrim/
/Motor/
/ledMatrix/
/IMU/
/Example/
/Validation/
